body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}

.container {
  background: rgba(255,255,255,0.5)
}

.jumbotron {
  text-align: center;
  padding: 25px;
}

h1{
  font-family: 'Cabin Sketch', sans-serif;
}

.jumbotron h1 {
  font-size: 60px;
}

.row {
  margin-left: 50px;
  margin-right: 75px;
}

.indent {
  margin-left: 20px;
}

img {
  margin: 10px;
}

#headshot {
  width: 200px;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: solid;
}
