body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'IBM Plex Serif', serif;
  text-align: justify;
}

.container {
  background: rgba(255,255,255,0.7)
}

.jumbotron {
  text-align: center;
  padding: 25px;
  background-color: transparent;
  border-bottom: 3px solid black;
  border-radius: 0rem;
}

.heading {
  font-family: 'Lato', sans-serif;
}

.jumbotron h1 {
  font-size: 52px;
  letter-spacing: 3px;
}

.row {
  margin-left: 50px;
  margin-right: 75px;
}

.indent {
  margin-left: 20px;
}

.hazy {
  color: gray;
  font-size: 14px;
}

img {
  margin: 10px;
}

img.key {
  width: 200px;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

img.other {
  width: 200px;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #00ffcc;
}

a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #00ffcc;
}

a img:hover {
  opacity: 0.5;
}

.card {
  background-color: whitesmoke;
}

.project-text {
  padding: 10px;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.language {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

footer.hazy {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
